<div class="courses-containers">
  <div class="courses-list">
      <mat-card>
      <mat-card-header>
          <mat-card-title>
          Course List
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-list>
              <mat-list-item
              *ngFor="let course of courses"
              (click)="selectCourse(course)"
              >
            <h3 matLine>{{ course.title | titlecase }}</h3>
            <p matLine>
                {{course.description}}
            </p>
            <button
                mat-icon-button
                color="warn"
                (click)="deleteCourse(course.id); $event.stopImmediatePropagation()"
            >
                <mat-icon>delete</mat-icon>
            </button>
              </mat-list-item>
          </mat-list>
      </mat-card-content>
      </mat-card>
  </div>

  <div class="course-details">
      <mat-card>
          <mat-card-header>
              <mat-card-title>
                  <span *ngIf="selectedCourse?.id; else elseBlock">
                    {{ originalTitle | titlecase }}
                  </span>
                  <ng-template #elseBlock>Select a Course</ng-template>
              </mat-card-title>
          </mat-card-header>

          <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
          <mat-card-content>
            <mat-form-field class="full-width">
                <input
                matInput
                placeholder="Title"
                [(ngModel)]="selectedCourse.title"
                name="title"
                required
                type="text"
                >
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                matInput
                placeholder="Description"
                [(ngModel)]="selectedCourse.description"
                name="description"
                type="text"
                >
            </mat-form-field>
            <section class="full-width">
                <h4>{{selectedCourse.percentComplete}}% Complete</h4>
                <mat-slider 
                    class="full-width"
                    [(ngModel)]="selectedCourse.percentComplete"
                    tickInterval="1"
                    step="9" min="0" max="100"
                    thumbLabel
                    name="Percent Complete"
                    role="slider"
                ></mat-slider>
            </section>
            <section class="full-width">
                    <mat-checkbox 
                        class="favorite"
                        [(ngModel)]="selectedCourse.favorite"
                        name="favorite">
                      Favorite
                    </mat-checkbox>
            </section>
 
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" [disabled]="form.invalid" mat-button color="primary">Save</button>
            <button type="button" mat-button color="warn" (click)="reset()">Cancel</button>

          </mat-card-actions>
        </form>
        <hr>
        <pre>{{form.value | json}}</pre>
        <pre>{{form.valid | json}}</pre>
    
      </mat-card>
  </div>
</div>

<!-- CHALLENGES 01-->
<!-- In the src/app/courses/courses.component.ts file, complete the following challenges.

Display courses using ngFor
Add event handler to select course
Display raw JSON of selected course

In the src/app/home/home.component.html file, complete the following challenges:

Display lessons using ngFor
Add event handler to select lesson
Display raw JSON of selected lesson-->

<!-- CHALLENGES 02-->
<!-- In the src/app/courses/courses.component.ts file, complete the following challenges.

Update the form to show percentComplete - https://material.angular.io/components/slider/overview
Update the form to show favorite - https://material.angular.io/components/checkbox/overview

BONUS: How can we edit a course without affecting the other representations?

HINT: https://material.angular.io/components/categories -->